* {
    box-sizing: border-box;
    margin: 0;
    font-family: Merriweather, arial, sans-serif;
}

body {
    width: 100vw;
    height: 150vh;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    background-color: #000;
    overscroll-behavior-y: none;
    overflow-x: hidden;
}

a {
    color: #00884a;
}

h1,
h2,
h3,
h4 {
    font-family: Raleway, arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 1.2em;
    margin: 1em;
    background-color: black;
}

h4 {
    margin: 0.5em;
    font-size: 16px;
}

.parallax-container {
    width: 100vw;
    height: 1200px;
    --y: 0;
}

@media (min-width: 1500px) {
    .parallax-container {
        height: 50vw;
    }
}

@media only screen and (max-width: 768px) {
    .parallax-container {
        height: 736px;
    }
}

.parallax-container img {
    width: 100%;
    height: 1205px;
    object-fit: cover;
    object-position: top;
}

@media (min-width: 1500px) {
    .parallax-container img {
        height: 50vw;
    }
}

@media only screen and (max-width: 768px) {
    .parallax-container img {
        height: 736px;
    }
}

.parallax-container .title {
    word-spacing: 100vw;
    left: 35%;
    transform: translate(-50%, 100px);
    font-size: calc(30px + 5vw);
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
}

.parallax-container .parallax-item {
    position: absolute;
}

.parallax-container .parallax-item:nth-child(1) {
    will-change: transform;
    transform: translateY(calc(var(--y) * -0.3));
    z-index: 200;
}

.parallax-container .parallax-item:nth-child(2) {
    z-index: 300;
}

.parallax-container .parallax-item:nth-child(3) {
    will-change: transform;
    transform: translateY(calc(var(--y) * -0.6));
    z-index: 400;
}

.parallax-container .parallax-item:nth-child(4) {
    z-index: 500;
}

.parallax-container .parallax {
    position: fixed;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: white;
    background-color: black;
    z-index: 600;
}

main p {
    width: 60%;
    font-size: 0.6em;
    line-height: 2em;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    main p {
        width: 95%;
    }
}

.project-wrapper {
    background-image: url("public/leaves-background.png");
    background-image: -webkit-image-set(
        url("public/leaves-background.webp") 1x
    );
    width: 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    .project-wrapper {
        background-image: url("public/leaves-background-tile.png");
        background-image: -webkit-image-set(
            url("public/leaves-background-tile.webp") 1x
        );
        background-repeat: repeat;
        background-size: contain;
    }
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 1em auto;
    max-width: 1000px;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .project-container {
        display: block;
    }
}

.project-container .project-item {
    flex: 1 1 33%;
    max-width: 300px;
    margin: 0.5em auto;
    background-color: black;
}

.project-container .project-item-image {
    filter: invert(1);
}

.project-container .project-item-image:hover {
    filter: brightness(100%);
}

.project-container .project-item ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

.project-container .project-item li {
    display: block;
    line-height: 2em;
    font-size: 14px;
}

.project-container .project-item p {
    text-align: center;
    width: 100%;
}

.project-container .project-item > div {
    margin: 20px 0;
}

button {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #00884a;
    transition-duration: 0.2s;
    background-color: #00884a;
    padding: 15px 60px;
    cursor: pointer;
    margin: 1em 0;
    max-width: 300px;
}

button:hover {
    background-color: #000000;
}

button:active {
    position: relative;
    top: 1px;
}

.company-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    max-width: 640px;
}

.company-container .company-item {
    margin: 0.5em auto;
}

.company-container .company-logo {
    margin: 30px;
    width: 240px;
    height: 50px;
    filter: grayscale(100%) invert(1);
}

.waterfall-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.waterfall-item {
    width: 500px;
    margin: 1em auto;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .waterfall-item {
        display: block;
    }
}

.waterfall-item picture img,
.waterfall-item picture source {
    margin: 0 auto;
    width: 75%;
}

.waterfall-item p {
    width: 100%;
    line-height: 2em;
    text-align: left;
}

@media only screen and (max-width: 1000px) {
    .waterfall-item p {
        text-align: center;
    }
}

footer {
    text-align: center;
    position: relative;
    width: 100%;
    height: 2em;
    background: black;
    color: white;
    z-index: 600;
}
